{% extends 'base.html' %}
{% block title %}My Shopping List{% endblock %}
{% block content %}
    <h1>Checkoff Items You've Purchased: </h1>
    <input type="button" onclick="window.history.back()" value="Go Back"/>
    <form action="/">
        <input type="submit" value="Home">
    </form> 
    <ul>
    {% for _ in list_of_items %}
    <li>
        <p>{{ _.name }}</p> 
        <form action="/checkoff" method="post">
            <input type="hidden" id="id" name="id" value="{{ _.id }}"/>
            <input type="submit" value="Purchased!">
        </form>
    </li>
    {% endfor %}
    </ul>
{% endblock %}