{% extends 'base.html' %}
{% block title %}Grocery List{% endblock %}
{% block header %}Grocery List{% endblock %}
{% block content %}    
    <body>
        <div class="container">
            <div class="row">
                <div class="form-style">
                    <form name="newItem" id="newForm" action="/" method="POST">
                        <fieldset>
                        <legend>My List</legend>
                            <input type="text" id="name" name="name" placeholder="Add Item" required>
                            <input type="number" id="qty" name="qty" placeholder="Qty"  min="1" required>
                            <input type="number" id="price" name="price" placeholder="Price"  min="0" step=0.01 required>
                        </fieldset>
                        <input type="submit" value="Submit"/>               
                        <input type="reset" id="reset" value="Reset"/>               
                    </form>
                </div>
            </div>    
        </div>
    </body>
{% endblock %}