:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }


.form-style {
    font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

.form-style fieldset {
    border: none;
}

.form-style legend {
    background: #1abc9c;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.form-style label {
	display: block;
	margin-bottom: 8px;
}


.form-style input[type="text"],
.form-style input[type="number"] {
    font-family: Helvetica, "Ariel", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;


}

.form-style input[type="submit"],
.form-style input[type="reset"],
.form-style input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.form-style input[type="submit"]:hover,
.form-style input[type="reset"]:hover,
.form-style input[type="button"]:hover {
	background: #109177;
}
